<div class="container mt-5">
    <h1 class="d-flex justify-content-center">Edição de produto</h1>

    <div class="form-grup">
        <label for="nome" class="text-monospace">Nome:</label>
        <input type="text" name="nome" id="nome" class="form-control text-monospace" placeholder="Digite aqui o nome" [(ngModel)]="produto.nome">
    </div>

    <div class="form-grup">
        <label for="preco" class="text-monospace">Preço:</label>
        <input type="number" name="preco" id="peco" class="form-control text-monospace" placeholder="Digite aqui o preço"[(ngModel)]="produto.preco">
    </div>

    <div class="form-grup">
        <label for="imagem" class="text-monospace">Imagem:</label>
        <input type="text" name="imagem" id="imagem" class="form-control text-monospace"
            placeholder="Digite aqui a URL da imagem"[(ngModel)]="produto.imagem">
    </div>

    <div class="form-grup">
        <label for="qtdEstoque" class="text-monospace">Quantidade em estoque:</label>
        <input type="number" name="qtdEstoque" id="qtdEstoque" class="form-control text-monospace"
            placeholder="Digite aqui a quantidade em estoque"[(ngModel)]="produto.qtdEstoque">
    </div>

    <div class="d-flex justify-content-end mt-3">
        <button type="button" class="btn btn-outline-info w-25"(click)="salvar()">Cadastrar</button>
    </div>
</div>

