+<div class="container d-flex justify-content-around mt-10 mb-10">

    <div class="card">
        <img class="card-img-top" style="width: 15rem" src="{{produto.imagem}}" alt="Imagem do produto">

        <div class="card-header">
            <h5 class="card-title">{{produto.nome}}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">peço: R{{produto.preco}}</p>
        </div>
    </div>

    <div>
        <h5>Tem certeza q deseja apagar esse produto?</h5>
        <button class="btn btn-outline-success mr-3" (click)="btnSim()">Sim</button>
        <button class="btn btn-outline-danger mr-3" (click)="btnNao()">Não</button>
    </div>

</div>