<div class="fundo">
    <div class="sombra">
        <div class="container">

            <div class="row mt-5 mb-5">
                <div class="col-md-12">
                    <h1 class="text-center">Hortifruti Generation</h1>
                </div>
            </div>
        
            <div class="row mb-5">
                <div class="col-md-12">
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ratione sequi
                        officia totam itaque
                        laboriosam sint corrupti, nihil illo a laudantium odio, animi eaque deserunt facere vitae possimus
                        mollitia nemo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore delectus aliquam ipsa
                        repudiandae explicabo soluta laudantium corrupti fugit facere ad voluptatibus rem nobis, vero quia? A
                        illum quidem earum repellendus.</p>
                </div>
            </div>
        </div>
        
        <div class="row mt-5 mb-5">
            <div class="col-md-12 d-flex justify-content-center">
                <button class="btn btn-outline-dark" routerLink='/feed'>Ver o feed</button>
        
            </div>
        
        </div>
    </div>
</div>